.banner-container {
  position: relative;
  overflow: hidden;
  .p-banner {
    position: relative;
    img {
      width: 100%;
      min-height: 100vh;
    }
    .baner-content {
      position: absolute;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      @include flex-direction(column);
      top: 34%;
      left: 0;
      width: 100%;
      .p-title {
        margin-bottom: 60px;
        .heading-2 {
          @include rem("font-size", 60);
          color: $cl-wh;
          font-family: "Lato Reg";
          font-weight: 400;
          text-transform: uppercase;
        }
        &:after {
          content: " ";
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200px;
          height: 5px;
          background-color: $cl-main;
        }
      }
      .p-description {
        padding: 0 30%;
        margin-bottom: 30px;
        .text {
          @include rem("font-size", 18);
          color: $cl-wh;
          font-family: "Lato Reg";
        }
      }
      .btn-learn {
        button {
          padding: 10px 30px;
          border: 3px solid $cl-wh;
          background-color: rgba(0, 0, 0, 0.1);
          @include rem("font-size", 18);
          color: $cl-wh;
          font-family: "Lato Reg";
          text-transform: capitalize;
        }
      }
      .btn-learn {
        button {
          padding: 10px 30px;
          border: 3px solid $cl-wh;
          background-color: rgba(0, 0, 0, 0.1);
          @include rem("font-size", 18);
          color: $cl-wh;
          font-family: "Lato Reg";
          text-transform: capitalize;
          overflow: hidden;
          .p-banner {
            position: relative;
            img {
              width: 100%;
              min-height: 100vh;
            }
            .baner-content {
              position: absolute;
              @include flexbox;
              @include align-items(center);
              @include justify-content(center);
              @include flex-direction(column);
              top: 34%;
              left: 0;
              width: 100%;
              .p-title {
                margin-bottom: 60px;
                .heading-2 {
                  @include rem("font-size", 60);
                  color: $cl-wh;
                  font-family: "Lato Reg";
                  font-weight: 400;
                  text-transform: uppercase;
                }
                &:after {
                  content: " ";
                  position: absolute;
                  top: 30%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 200px;
                  height: 5px;
                  background-color: $cl-main;
                }
              }
              .p-description {
                padding: 0 30%;
                margin-bottom: 30px;
                .text {
                  @include rem("font-size", 18);
                  color: $cl-wh;
                  font-family: "Lato Reg";
                }
              }
              .btn-learn {
                button {
                  padding: 10px 30px;
                  border: 3px solid $cl-wh;
                  background-color: rgba(0, 0, 0, 0.1);
                  @include rem("font-size", 18);
                  color: $cl-wh;
                  font-family: "Lato Reg";
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }
    }
  }
}
