.ourteam-container {
    padding: 30px 0;
  .p-title {
    padding: 100px 0;
    margin-bottom: 20px;
    position: relative;
    .back-title {
      &::after {
        content: " ";
        width: 240px;
        height: 80px;
        background: $cl-main;
        position: absolute;
        top: 60px;
        left: 37%;
        transform: rotate(-8deg);
      }
    }
    .heading-2 {
      position: absolute;
      top: 78px;
      left: 40%;
      @include rem("font-size", 40);
      font-family: "Lato Reg";
      font-weight: 400;
      color: $cl-wh;
    }
  }
  .p-content {
    padding: 0 20px;
    .ourteam-item {
      padding: 20px 0;
      .content-left {
        width: 100%;
        height: 200px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: top;
        position: relative;
        .icon {
          position: relative;
          top: 50%;
          left: 28%;
          display: none;
          .fab {
            padding: 5px;
            color: $cl-main;
            font-size: 24px;
          }
        }
        &:after {
          content: "";
          height: 100%;
          width: 100%;
          background-color: rgba(124, 245, 170, 0.57);
          position: absolute;
          top: 0;
          left: 0;
          display: none;
        }
        &:hover {
          cursor: pointer;
          &:after {
            display: block;
          }
          .icon {
            display: block;
          }
        }
      }
      .content-right {
        padding-top: 16px;
        .title {
          margin-bottom: 10px;
          .heading-5 {
            @include rem("font-size", 20);
            font-family: "Mariad Pro Regular";
            font-weight: 600;
            text-transform: capitalize;
            color: #393c41;
            &:hover {
              cursor: pointer;
              color: $cl-main;
            }
          }
          .sp-major {
            @include rem("font-size", 16);
            font-family: "Mariad Pro Regular";
            font-weight: 500;
            text-transform: capitalize;
            color: #bbb;
          }
        }
        .text {
          .text-content {
            @include rem("font-size", 16);
            font-family: "Mariad Pro Regular";
            font-weight: 400;
            color: #bbb;
            line-height: 1.2;
          }
        }
      }
    }
  }
}
