.person-container {
  padding: 50px 0;
  .p-person {
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .p-text {
      width: 40%;
      height: auto;
      position: relative;
      left: 60%;
      padding: 150px 0;
      .icon {
          margin-bottom: 40px;
      }
      .text {
          margin-bottom: 40px;
        .text-content {
          @include rem("font-size", 15);
          font-family: "Mariad Pro Regular";
          color: #6a717c;
          line-height: 1.2;
        }
      }
      .name {
        text-align: right;
        .name-content {
          @include rem("font-size", 30);
          font-family: "Mariad Pro Regular";
          color: #393c41;
        }
        .sp-name {
          @include rem("font-size", 14);
          font-family: "Mariad Pro Regular";
          color: #aaaaaa;
        }
      }
    }
  }
}
// .parallax {
//   .p-parallax {
//     height: 50vh;
//     background-attachment: fixed;
//     background-position: center;
//     background-size: color;
//     background-repeat: no-repeat;
//     .logo-img {
//       width: 16%;
//       height: 8px;
//       .item-logo {
//       }
//     }
//   }
// }
