<section class="banner-container">
    <div class="p-banner">
        <img src="../../images/back_1.png" alt="">
        <div class="baner-content">
            <div class="p-title">
                <h2 class="heading-2">
                    welcome to our world
                </h2>
            </div>
            <div class="p-description">
                <p class="text text-center">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="btn-learn">
                <button>learn more</button>
            </div>
        </div>
    </div>
    <div class="p-banner">
        <img src="../../images/coffe.jpg" alt="">
        <div class="baner-content">
            <div class="p-title">
                <h2 class="heading-2">
                    welcome to our world
                </h2>
            </div>
            <div class="p-description">
                <p class="text text-center">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="btn-learn">
                <button>learn more</button>
            </div>
        </div>
    </div>
    <div class="p-banner">
        <img src="../../images/coffe_2.jpg" alt="">
        <div class="baner-content">
            <div class="p-title">
                <h2 class="heading-2">
                    welcome to our world
                </h2>
            </div>
            <div class="p-description">
                <p class="text text-center">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="btn-learn">
                <button>learn more</button>
            </div>
        </div>
    </div>
</section>