<section class="chooseabout-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="p-choose text-center wow slideInLeft" data-aos="fade-up">
                    <div class="icon">
                        <i class="fas fa-camera"></i>
                    </div>
                    <div class="title">
                        <h4 class="heading-4">photography</h4>
                    </div>
                    <div class="text">
                        <p class="text-content">If you are going to use a passage of Lorem Ipsum,
                            you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-choose text-center wow pulse" data-aos="fade-up">
                    <div class="icon">
                        <i class="fas fa-tv"></i>
                    </div>
                    <div class="title">
                        <h4 class="heading-4">web design</h4>
                    </div>
                    <div class="text">
                        <p class="text-content">If you are going to use a passage of Lorem Ipsum,
                            you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="p-choose text-center wow slideInRight" data-aos="fade-up">
                    <div class="icon">
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="title">
                        <h4 class="heading-4">marketing</h4>
                    </div>
                    <div class="text">
                        <p class="text-content">If you are going to use a passage of Lorem Ipsum,
                            you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>