<section class="ournew-container">
    <div class="container">
        <div class="p-title">
            <div class="back-title"></div>
            <h2 class="heading-2">Our news</h2>
        </div>
        <div class="p-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ournew-item">
                        <div class="p-back" style="background-image: url(../../images/ins_1.jpg)">
                            <div class="back-text">
                                <h5 class="heading-5">read more...</h5>
                            </div>
                        </div>
                        <div class="title">
                            <h3 class="heading-3">railway station</h3>
                            <span class="sp-date">By Matrix / 05 Sep 2015</span>
                        </div>
                        <div class="text">
                            <p class="text-content">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ournew-item">
                        <div class="p-back" style="background-image: url(../../images/ins_2.jpg)">
                            <div class="back-text">
                                <h5 class="heading-5">read more...</h5>
                            </div>
                        </div>
                        <div class="title">
                            <h3 class="heading-3">local libbrary</h3>
                            <span class="sp-date">By Matrix / 05 Sep 2015</span>
                        </div>
                        <div class="text">
                            <p class="text-content">It uses a dictionary of over 200 Latin words, 
                                combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
                                The generated Lorem Ipsum is therefore always free from repetition, injected humour,
                                 or non-characteristic words etc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ournew-item">
                        <div class="p-back" style="background-image: url(../../images/ins_3.jpg)">
                            <div class="back-text">
                                <h5 class="heading-5">read more...</h5>
                            </div>
                        </div>
                        <div class="title">
                            <h3 class="heading-3">our journey</h3>
                            <span class="sp-date">By Matrix / 05 Sep 2015</span>
                        </div>
                        <div class="text">
                            <p class="text-content">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>