<section class="parallax">
    <div class="p-parallax" style="background-image: url(../../images/matrix.jpg)">
        <div class="container">
            <div class="logo-img">
                <ul>
                    <li class="item-logo"><a href="" class="link-logo"> <img class="p-img" src="../../images/TheVerge.png" alt=""></a></li>
                    <li class="item-logo"><a href="" class="link-logo"> <img class="p-img" src="../../images/mashable-1.png" alt=""></a></li>
                    <li class="item-logo"><a href="" class="link-logo"> <img class="p-img" src="../../images/appboy.png" alt=""></a></li>
                    <li class="item-logo"><a href="" class="link-logo"> <img class="p-img" src="../../images/behance.png" alt=""></a></li>
                    <li class="item-logo"><a href="" class="link-logo"> <img class="p-img" src="../../images/dribbble.png" alt=""></a></li>
                </ul>
                  
                </div>

        </div>
    </div>
</section>