<section class="person-container">
    <div class="p-person" style="background-image: url(../../images/personmain.jpg)">
        <div class="container">
            <div class="p-text  wow slideInRight" data-aos="fade-up"">
                <div class="icon">
                    <img src="../../images/“.png" alt="">
                </div>
                <div class="text">
                    <div class="text-content">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="name">
                    <p class="name-content">
                        Elizabeth Taylor
                    </p>
                    <span class="sp-name">Graphic Designer & Manager</span>
                </div>
            </div>
        </div>
    </div>
</section>

