<section class="recentwork-container">
        <div class="container">
            <div class="p-title">
                <div class="back-title"></div>
                <h2 class="heading-2 wow fadeInDown" data-aos="fade-up">recent works</h2>
            </div>
            <div class="menu-recent wow bounceOut" data-wow-delay="0.5s">
                <nav>
                    <li class="item-menu"><a href="@" class="link-menu">all</a></li>
                    <li class="item-menu"><a href="@" class="link-menu">animation</a></li>
                    <li class="item-menu"><a href="@" class="link-menu">app design</a></li>
                    <li class="item-menu"><a href="@" class="link-menu">photography</a></li>
                    <li class="item-menu"><a href="@" class="link-menu">web design</a></li>
                </nav>
            </div>
        </div>
        <div class="content-recent">
            <div class="p-back" style="background-image: url('../../images/telephone_6.jpg')">
                <div class="p-text">
                    <h5 class="heading-5">soundcloud</h5>
                    <span class="sp-text">wen design/app design</span class="sp-text">
                </div>
            </div>
            <div class="p-back"style="background-image: url('../../images/tk.jpg')">
                <div class="p-text" >
                    <h5 class="heading-5">soundcloud</h5>
                    <span class="sp-text">wen design/app design</span class="sp-text">
                </div>
            </div>
            <div class="p-back"style="background-image: url('../../images/telephone_7.jpg')">
                <div class="p-text" >
                    <h5 class="heading-5">soundcloud</h5>
                    <span class="sp-text">wen design/app design</span class="sp-text">
                </div>
            </div>
            <div class="p-back"style="background-image: url('../../images/com_3.jpg')">
                <div class="p-text" >
                    <h5 class="heading-5">soundcloud</h5>
                    <span class="sp-text">wen design/app design</span class="sp-text">
                </div>
            </div>
            <div class="p-back"style="background-image: url('../../images/com_4.jpg')">
                <div class="p-text" >
                    <h5 class="heading-5">soundcloud</h5>
                    <span class="sp-text">wen design/app design</span class="sp-text">
                </div>
            </div>
            <div class="p-back"style="background-image: url('../../images/com_5.jpg')">
                <div class="p-text" >
                    <h5 class="heading-5">soundcloud</h5>
                    <span class="sp-text">wen design/app design</span class="sp-text">
                </div>
            </div>
            <div class="p-back"style="background-image: url('../../images/com_6.jpg')">
                <div class="p-text" >
                    <h5 class="heading-5">soundcloud</h5>
                    <span class="sp-text">wen design/app design</span class="sp-text">
                </div>
            </div>
            <div class="p-back"style="background-image: url('../../images/com_7.jpg')">
                <div class="p-text" >
                    <h5 class="heading-5">soundcloud</h5>
                    <span class="sp-text">wen design/app design</span class="sp-text">
                </div>
            </div>
        </div>
    
    </section>